<ul>
    <li>
        <a href="/bibliography/SomeofTheseDays/reviews.html">Some of These Days</a>
        {% if page.section == "some" %}
        <ul>
            <li><a href="/bibliography/SomeofTheseDays/reviews.html">Reviews</a></li>
            <li><a href="/bibliography/SomeofTheseDays/samples.html">Samples</a></li>
            <li><a href="/bibliography/SomeofTheseDays/order.html">Ordering Information</a></li>
        </ul>
        {% endif %}
    </li>
    <li>
        <a href="/bibliography/rodin/reviews.html">Rodin  &amp; Co.</a>
        {% if page.section == "rodin" %}
        <ul>
            <li><a href="/bibliography/rodin/reviews.html">Reviews</a></li>
            <li><a href="/bibliography/rodin/samples.html">Samples</a></li>
            <li><a href="/order/index.html">Ordering Information</a></li>
        </ul>
        {% endif %}
    </li>
    <li>
        <a href="/bibliography/OldManLaughing/reviews.html">Old Man Laughing</a>
        {% if page.section == "oldman" %}
        <ul>
            <li><a href="/bibliography/OldManLaughing/reviews.html">Reviews</a></li>
            <li><a href="/bibliography/OldManLaughing/samples.html">Samples</a></li>
            <li><a href="/order/index.html">Ordering Information </a></li>
        </ul>
        {% endif %}
    </li>
    <li>
        <a href="/bibliography/SteppingTwice/reviews.html"> Stepping Twice into the River: Following Dakota Waters</a>
        {% if page.section == "stepping" %}
        <ul>
            <li><a href="/bibliography/SteppingTwice/reviews.html">Reviews</a></li>
            <li><a href="/bibliography/SteppingTwice/samples.html">Samples</a></li>
            <li><a href="/order/index.html#twice">Ordering Information </a></li>
        </ul>
        {% endif %}
    </li>
    <li>
        <a href="/bibliography/WhatItWasLike/reviews.html"> What It Was Like</a>
        {% if page.section == "whatitwaslike" %}
        <ul>
            <li><a href="/bibliography/WhatItWasLike/reviews.html">Reviews</a></li>
            <li><a href="/bibliography/WhatItWasLike/sample.html">Samples</a></li>
            <li><a href="/order/index.html#chapbooks">Ordering Information </a></li>
        </ul>
        {% endif %}
    </li>
    <li>
        <a href="/bibliography/NamingNames/reviews.html"> Naming Names</a>
        {% if page.section == "naming" %}
        <ul>
            <li><a href="/bibliography/NamingNames/reviews.html">Reviews</a></li>
            <li><a href="/bibliography/NamingNames/samples.html">Samples</a></li>
            <li><a href="/order/index.html#chapbooks">Ordering Information </a></li>
        </ul>
        {% endif %}
    </li>
    <li>
        <a href="/bibliography/LearningAmerica/sample.html">Learning American </a>
        {% if page.section == "learning" %}
        <ul>
            <li><a href="/bibliography/LearningAmerica/reviews.html">Reviews</a></li>
            <li><a href="/bibliography/LearningAmerica/sample.html">Samples</a></li>
            <li><a href="/order/index.html#chapbooks">Ordering Information </a></li>
        </ul>
        {% endif %}
    </li>
</ul>