<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robert King Poet</title>
    <link rel="SHORTCUT ICON" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/robert-king.css" />
  </head>
  <body>
    <div id="container">
      <div id="page">
        <div id="header">
          <img src="/assets/images/heading.jpg" alt="Robert King Author &amp; Poet"  />
        </div>
        <div id="topnav">
            {%- include navigation.html -%}
        </div>
        <div id="content">
          {{content}}
        </div>
		  </div>
      <div id="footer">
        <ul>
          <li>Robert King</li>
          <li><a href="https://coloradopoetscenter.org">Colorado Poets Center</a></p>
        </ul>
      </div>
    </div>
  </body>
</html>
